# TEST VALUES, set the proper values here
[global]
address = "0.0.0.0"
[global.databases.postgres]
url = "postgres://example:example@127.0.0.1:9432/paja"
timeout = 5
pool_size = 2

[default.oauth.facebook]                                                                                                                                               
provider = "Google"
client_id = "<client_id>"
client_secret = "<client_secret>"
redirect_uri = "http://127.0.0.1:8000/auth/google"
 
[default.jwt]
# Generate with: openssl rand -base64 32
secret = "change_me_if_you_dont_want_to_be_hacked"
duration = 3600
